/.DS_Store
/Screens
/level.json
/pythonworldru.pdf
/synergy.py
/synergy10.py
/synergy11.py
/synergy12.py
/synergy13.py
/synergy14.py
/synergy15.py
/synergy16.py
/synergy17.py
/synergy18.py
/synergy19.py
/synergy2.py
/synergy20.py
/synergy21.py
/synergy22.py
/synergy23.py
/synergy24.py
/synergy25.py
/synergy26.py
/synergy27.py
/synergy28.py
/synergy29.py
/synergy3.py
/synergy30.py
/synergy31.py
/synergy32.py
/synergy33.py
/synergy34.py
/synergy35.py
/synergy4.py
/synergy5.py
/synergy6.py
/synergy7.py
/synergy8.py
/synergy9.py